doctype html
html(class="no-js", lang="en")
	head
		title= title
		link(rel='stylesheet', href='/stylesheets/vendor/normalize.css')
		link(rel='stylesheet', href='/stylesheets/vendor/foundation.min.css')
		link(rel='stylesheet', href='/stylesheets/app.css')
		script(src="/javascripts/vendor/custom.modernizr.js")
	body
		nav(class="top-bar")
			ul(class="title-area")
				//- Title Area
				li(class="name")
					h1
						a(href="#") Texas Hold 'Em
				//- Remove the class "menu-icon" to get rid of menu icon. Take out "Menu" to just have icon alone
				li(class="toggle-topbar menu-icon")
					a(href="#")
						span Menu

			section(class="top-bar-section")
				ul(class="right")
					li(class="has-form")
						a(id="join", class="button", href="#join", disabled) Join
					li(class="has-form")
						a(id="fold", class="button", href="#fold", disabled) Fold
					li(class="has-form")
						a(id="check", class="button", href="#check", disabled) Check
					li(class="has-form")
						a(id="call", class="button", href="#call", disabled) Call
					li(class="has-form")
						form
							div(class="row collapse")
								div(class="small-4 columns")
									a(id="raise", class="alert button", href="#raise", disabled) Raise
								div(class="small-8 columns")
									input(id="raise-amount", name="raise", type="text", value="2", disabled)
		block content

		script(src="/socket.io/socket.io.js")
		//- script.
		//- 	document.write('<script src=' +
		//- 	('__proto__' in {} ? '/javascripts/vendor/zepto' : '/javascripts/vendor/jquery') +
		//- 	'.js><\/script>')
		script(src="/javascripts/vendor/jquery.js")
		script(src="/javascripts/vendor/foundation.min.js")
		script(src="/javascripts/client.js")
