html {
  background: url("/images/bg.png") repeat top left;
  height: 100%;
}
body {
  background: -moz-radial-gradient(center, ellipse cover, rgba(255, 255, 255, 0) 0%, rgba(0, 0, 0, 0.75) 100%);
  background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%, rgba(255, 255, 255, 0)), color-stop(100%, rgba(0, 0, 0, 0.75)));
  background: -webkit-radial-gradient(center, ellipse cover, rgba(255, 255, 255, 0) 0%, rgba(0, 0, 0, 0.75) 100%);
  background: -o-radial-gradient(center, ellipse cover, rgba(255, 255, 255, 0) 0%, rgba(0, 0, 0, 0.75) 100%);
  background: -ms-radial-gradient(center, ellipse cover, rgba(255, 255, 255, 0) 0%, rgba(0, 0, 0, 0.75) 100%);
  background: radial-gradient(ellipse at center, rgba(255, 255, 255, 0) 0%, rgba(0, 0, 0, 0.75) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#00ffffff', endColorstr='#bf000000', GradientType=1);
  height: 100%;
}
h2 {
  color: white;
  text-align: center;
  text-shadow: 0px -1px 0px #000000;
  margin: 200px;
}
